.main-container {
  text-align: center;
  margin-bottom: 40px;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
}

.card img {
  width: 150px;
  object-fit: cover;
  padding: 20px;
}

.card {
  width: 200px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.151);
  text-align: center;
  padding: 20px;
}

.main-container h2 {
  margin: 30px;
}

.card p {
  color: rgb(166, 166, 166);
}
