.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(39, 36, 36);
}

.footer-container p {
  color: rgb(110, 110, 110);
  padding-bottom: 75px;
}

#heart {
  color: red;
}

i {
  color: rgb(84, 223, 98);
  font-size: 32px;
  margin-right: 16px;
  padding-top: 75px;
}
